html {
  /* Prevent scrollbar from changing width */
  overflow-y: scroll;
}

body {
  margin: 0;
  width: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MuiAutocomplete-inputRoot {
  flex-wrap: nowrap !important;
}

.title {
  font-size: 1.15rem;
  font-weight: 400;
}

@media screen and (max-width: 680px) {
  .title {
    display: none;
  }
}
